django_adminplus==0.5
Django==2.2.26
requests==2.20.0
dj_database_url==0.5.0
djangorestframework==3.11.2
gunicorn==19.6.0
whitenoise==3.2.1
Pygments==2.7.4
requests==2.20.0
urllib3==1.26.5
psycopg2==2.6.2
django-debug-toolbar==1.11.1
