django_adminplus==0.5
Django==1.11.25
requests==2.11.1
dj_database_url==0.5.0
djangorestframework==3.4.6
gunicorn==19.6.0
whitenoise==3.2.1
Pygments==2.7.4
requests==2.11.1
urllib3==1.17
psycopg2==2.6.2
django-debug-toolbar==1.5
