<!--body wrapper end-->
<div class="footer">
    <div class="footer-grid">
        <h3>Navigation</h3>
        <ul class="list1">
          <li><a href="index.html">Home</a></li>
          <li><a href="radio.html">All Songs</a></li>
          <li><a href="browse.html">Albums</a></li>
          <li><a href="radio.html">New Collections</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

         <div class="footer-grid footer-grid_last">
            <h3>About Me</h3>
            <p class="footer_desc">Sikkim Manipal Institute of Technology, Majitar</p>
            <p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;+91-8972138347</p>
            <p class="email">Email : &nbsp;<span><a href="mailto:srivastavaanurag79@gmail.com">srivastavaanurag79@gmail.com</a></span></p>
         </div>
         <div class="clearfix"> </div>
    </div>
</div>


<!--footer section start-->
<footer>
<p>&copy 2019 Anurag Srivastava. All Rights Reserved | Design by <a href="/" target="_blank">Who knows?</a></p>
</footer>
<!--footer section end-->
