
<!-- left side start-->
<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <h1><a href="/">h<span>Play</span></a></h1>
    </div>
    <div class="logo-icon text-center">
        <a href="/">H </a>
    </div>

    <!-- /w3l-agile -->
    <!--logo and iconic logo end-->


    <div class="left-side-inner">

    <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="/"><i class="lnr lnr-home"></i><span>Home</span></a></li>
            <li><a href="/songs"><i class="camera"></i> <span>Songs</span></a></li>
            <li><a href="/songs"><i class="lnr lnr-heart"></i> <span>All Songs</span></a></li>
        </ul>
    <!--sidebar nav end-->
    </div>
</div>
